{% extends 'base.html.twig' %}

{% block title %}Welcome!{% endblock %}

{% block body %}
        <div class="row">
            <div class="col">
                Welcome{% if is_granted('IS_AUTHENTICATED_FULLY') %}, {{ app.user|capitalize }}{% endif %}!
            </div>
        </div>
        <div class="row">
        </div>
        <div class="row">
            <hr/>
            <div id="data-container">
                {% for location_id, point_set  in point_sets %}
                    {% for point in point_set %}
                        <div class="points"
                             id="point-{{ loop.parent.loop.index }}-{{ loop.index }}"
                             data-pointset="{{ loop.parent.loop.index }}"
                             data-long="{{ point.longitude }}"
                             data-lat="{{ point.latitude }}"
                             data-location-id="{{ location_id }}"
                        ></div>
                    {% endfor %}
                {% endfor %}
            </div>
            <div class="col-10 offset-2">
                <div id="map" style="position: relative; overflow: hidden;"></div>
            </div>
        </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="/js/gmaps.js"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key={{ google_maps_api_key }}&callback=initMap" type="text/javascript"></script>
{% endblock %}