{% extends 'base.html.twig' %}

{% block title %}Report lost item!{% endblock %}

{% block body %}

    <div class="row">
        <h1>Vaša prijava je uspješno kreirana</h1>
    </div>

    <div class="row">
        <h2>{{ item.statusText }}</h2>
    </div>
    <div class="row">
        <dl>
            <dt>Kategorija</dt>
            <dd>{{ item.category.title}}</dd>
            <dt>Naslov</dt>
            <dt>Naslov</dt>
            <dd>{{ item.title}}</dd>
            <dt>Naslov</dt>
            <dd>{{ item.description}}</dd>
            <dt>Slika</dt>
            <dd> <img src="{{ vich_uploader_asset(item, 'pictureFile') }}" alt="{{ item.pictureOriginalName }}" /></dd>
        </dl>
    </div>
{% endblock %}